.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #ebecf0;
  min-height: 120px;
}

.card_task_id {
  font-size: 12px;
  color: #5e6c84;
  font-weight: 500;
  margin-bottom: 2px;
}

.card_title {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.2;
}

.card_description {
  font-size: 12px;
  color: #5e6c84;
  margin: 4px 0;
  max-height: 90px;
  overflow: hidden;
  text-overflow: ellipsis; /* Добавляет многоточие */
}

.card_footer {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding-top: 8px;
  border-top: 1px solid #f0f0f0;
}

.card_footer_left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}

.card_top_labels {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.card_top_labels label {
  border-radius: 40px;
  padding: 2px 8px;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
}

.card_footer_items {
  display: flex;
  gap: 6px;
}

.card_footer_item {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: #5e6c84;
  background-color: #f8f8f8;
  border-radius: 40px;
  padding: 2px 8px;
}

.card_footer_icon {
  width: 12px;
  height: 12px;
}

.card_top_more {
  cursor: pointer;
  padding: 4px;
  top: 3px;
  position: relative;
}

.card_label {
  width: fit-content;
  display: flex;
  font-size: 14px;
}
